<p>Pasirinkite norimą paskolos sumą:</p>
<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="500" min="100" max="10000" step="50"
  [(ngModel)]="amount"></mat-slider>
<p>Pasirinkite paskolos terminą:</p>
<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="3" min="6" max="72" step="1" [(ngModel)]="term">
</mat-slider>
<div>
  <mat-form-field>
    <mat-select placeholder="Paskolos mokėjimo diena" required [(ngModel)]="paymentDay">
      <mat-option value="2">2</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="17">17</mat-option>
      <mat-option value="22">22</mat-option>
      <mat-option value="27">27</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="input-full-width">
    <input matInput placeholder="Mėnesis atlyginimas (bruto)" value="" required [(ngModel)]="salary">
  </mat-form-field>
</div>
<div>
  <button mat-stroked-button [disabled]="isDisabled()" matStepperNext color="primary" (click)="onNext()" >Kitas</button>
</div>