<h3>Kliento duomenys:</h3>
<form class="input-form">
    <mat-form-field class="input-full-width">
      <input type="text" matInput placeholder="Vardas" value="" required>
    </mat-form-field>
     <mat-form-field class="input-full-width">
      <input type="text" matInput placeholder="Pavardė" value="" required>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <input type="number" matInput placeholder="Asmens kodas" value="" required>
    </mat-form-field>
<h3>Papildomi duomenys:</h3>
<mat-form-field>
    <mat-select placeholder="Išsilavinimas" required>
      <mat-option value="pradinis">Pradinis</mat-option>
      <mat-option value="vidurinis">Vidurinis</mat-option>
      <mat-option value="spec. vidurinis">Spec. Vidurinis</mat-option>
      <mat-option value="aukstesnysis">Aukštesnysis</mat-option>
      <mat-option value="aukstasis">Aukštasis</mat-option>
    </mat-select>
</mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Užimamos pareigos" required>
          <mat-option value="darbininkas">Darbininkas</mat-option>
          <mat-option value="specialistas, tarnautojas">Specialistas, tarnautojas</mat-option>
          <mat-option value="vyr. specialistas">Vyr. specialistas</mat-option>
          <mat-option value="vadovas (skyriaus, padalinio)">Vadovas (skyriaus, padalinio)</mat-option>
          <mat-option value="imones vadovas">Įmonės vadovas</mat-option>
          <mat-option value="savininkas">Savininkas</mat-option>
          <mat-option value="individuali veikla">Individuali veikla</mat-option>
          <mat-option value="studentas">Studentas</mat-option>
          <mat-option value="pensininkas">Pensininkas</mat-option>
          <mat-option value="namu seimininke">Namų šeimininkė</mat-option>
          <mat-option value="niekur nedirbu">Niekur nedirbu</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Įstaigos, kurioje dirbate, veiklos sritis" required>
          <mat-option value="zemes ukis">Žemės Ūkis</mat-option>
          <mat-option value="statyba, apdirbamoji pramone">Statyba, apdirbamoji pramonė</mat-option>
          <mat-option value="pramone">Pramonė</mat-option>
          <mat-option value="prekyba, aptarnavimas">Prekyba, aptarnavimas</mat-option>
          <mat-option value="transportas, pervezimas, rysiai">Transportas, pervežimas, ryšiai</mat-option>
          <mat-option value="finansinis tarpininkavimas">Finansinis tarpininkavimas</mat-option>
          <mat-option value="svietimas, kultura">Švietimas, kultūra</mat-option>
          <mat-option value="nekilnojamas turtas, nuoma">Nekilnojamas turtas, nuoma</mat-option>
          <mat-option value="informacines technologijos">Informacines technologijos</mat-option>
          <mat-option value="teisinis tarpininkavimas, auditas">Teisinis tarpininkavimas, auditas</mat-option>
          <mat-option value="sveikatos apsauga ir socialinis darbas">Sveikatos apsauga ir socialinis darbas</mat-option>
          <mat-option value="valstybes valdymas ir gynimas">Valstybes valdymas ir gynimas</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Darbo trukmė esamoje darbovietėje" required>
          <mat-option value="bandomasis laikotarpis">Bandomasis laikotarpis</mat-option>
          <mat-option value="iki 1 metu">Iki 1 metu</mat-option>
          <mat-option value="iki 2 metu">Iki 2 metu</mat-option>
          <mat-option value="iki 3 metu">Iki 3 metu</mat-option>
          <mat-option value="iki 4 metu">Iki 4 metu</mat-option>
          <mat-option value="iki 5 metu">Iki 5 metu</mat-option>
          <mat-option value="virs 5 metu">Virš 5 metu</mat-option>          
        </mat-select>
    </mat-form-field>
<h3>Asmeniniai duomenys:</h3>
    <mat-form-field>
        <mat-select placeholder="Darbo sutarties tipas" required>
          <mat-option value="neterminuota">Neterminuota</mat-option>
          <mat-option value="terminuota">Terminuota</mat-option>
          <mat-option value="kita">Kita</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Pasirinkite datą" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>         
        <mat-form-field>
            <mat-select placeholder="Šeimyninė padėtis" required>
              <mat-option value="vedes (istekejusi)">Vedęs (ištekėjusi)</mat-option>
              <mat-option value="nevedes (netekejusi)">Nevedęs (netekėjusi)</mat-option>
              <mat-option value="bendras gyvenimas nesusituokus">Bendras gyvenimas nesusituokus</mat-option>
              <mat-option value="issiskyres (-usi)">Išsiskyręs (-usi)</mat-option>
              <mat-option value="naslys (-e)">Našlys (-ė)</mat-option>
            </mat-select>
        </mat-form-field>
<h3>Kontaktiniai duomenys:</h3>
    <mat-form-field class="input-full-width">
      <input type="number" matInput placeholder="Telefonas" value="" required>
    </mat-form-field>
</form>
